/*FOOTER*/
.footer{
    padding-top:25px;
    background-color: whitesmoke;
    padding-bottom: 25px;
}

.footer-logo{
    padding-left: 75px;
}



/*workaround*/
@media (max-width: 768px){
    .footer-logo{
        padding-left: 0px;
    }

    .footer-aboutus{
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
}


.copyright{
    padding-left: 20px;
}


.footer-label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}


.footer-section{
    margin-top: 15px;
}


.icon-padding{
    padding-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.icon-align{
    text-align: middle;
}

.email-link{
    color: black;
}

.email-link:hover{
    color: lightgrey;
}