/* general */
html *{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
body {
    background: #35465c !important;
}
.text-white{
    color: whitesmoke;
}
.text-oblatum-color{
	color: #35465c;
}
.router-link{
	color: red !important;
}

/* nav */
.nav-link{
    color: whitesmoke!important;
    font-weight: bold;
}
.nav-link:hover{
    color: white!important;
}
.navbar-brand{
    color: white!important;
    font-weight: bold;
}
.custom-toggler.navbar-toggler {
    border-color: whitesmoke;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* forms */
.form-container{
    background-color: whitesmoke;
    border-radius: 10px;
    max-width: 450px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    margin-bottom: 45px;
    margin-top: 75px;
}
#description{
    font-size: 10px;
}

/* home */
.main-container{
    width: 100%;
    margin: 0 auto;
}
.main-text {
    margin-top: 15px;
    max-width: 900px;
    font-weight: bold;
    font-size: 45px;
}
.descriptive-text{
    margin-top: 5px;
    max-width: 600px;
}
.sign-in-form{
    max-width: 450px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#signup{
    background-color: #4EBF3C;
    border-color: #4EBF3C;
}
#signup:hover{
    background-color: #1D8D0B;
    border-color: #1D8D0B;
    cursor: pointer;
}
#keep-in-touch-text {
    color: white;
    font-size: 14px;
}
.what-we-do-section{
    background-color: whitesmoke;
    padding-bottom: 50px;
}
.what-we-do-title{
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #020C18;
}
.what-we-do-block{
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.what-we-do-text{
    vertical-align: middle;
    background-color: yellow;
}
.team-title{
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.member-description{
    padding-top: 5px;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
.member-name{
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.team-container{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}

/* footer */
.footer{
    padding-top:25px;
    background-color: whitesmoke;
    padding-bottom: 25px;
}
.footer-logo{
    padding-left: 75px;
}
.copyright{
    padding-left: 20px;
}
.footer-label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.footer-section{
    margin-top: 15px;
}
.icon-padding{
    padding-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}
.icon-align{
    text-align: middle;
}
.email-link{
    color: black;
}
.email-link:hover{
    color: lightgrey;
}

/* workarounds */
@media (max-width: 768px){
    .member-description{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
        font-size: 15px;
    }
    .what-we-do-images{
        margin-bottom: 25px;
    }
    .footer-logo{
        padding-left: 0px;
    }
    .footer-aboutus{
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
}