/*SIGN UP FORM & MAIN PAGE*/

/*Text in top of the page*/
.main-text {
    margin-top: 15px;
    max-width: 900px;
    font-weight: bold;
    font-size: 45px;
}

/*Description of what we do in top page*/
.descriptive-text{
    margin-top: 5px;
    max-width: 600px;
    margin-bottom: 50px; /*Margin from input form */
}

.container-form{
    max-width: 450px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 50px;
}

#signup{
    cursor: pointer;
}

/*WHAT WE DO */
/*workaround*/
@media (max-width: 768px){
    .what-we-do-images{
        margin-bottom: 25px;
    }
}

.what-we-do-section{
    background-color: whitesmoke;
    padding-bottom: 50px;
}

.what-we-do-title{
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #020C18;
}
.what-we-do-block{
    margin-top: 25px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
}

.what-we-do-text{
    vertical-align: middle;
    background-color: yellow; 
}

/* TEAM */
.team-title{
    font-weight: bold;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.member-description{
    padding-top: 5px;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;

}

.member-name{
    padding-top: 10px;
        font-weight: bold;
    font-size: 20px;
}

 .team-container{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
 }

/*workaround*/
@media (max-width: 768px){
    .member-description{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
        font-size: 15px;
    }
}


/*FOOTER*/
.footer{
    padding-top:25px;
    background-color: whitesmoke;
    padding-bottom: 25px;
}

.footer-logo{
    padding-left: 75px;
}



/*workaround*/
@media (max-width: 768px){
    .footer-logo{
        padding-left: 0px;
    }

    .footer-aboutus{
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
}


.copyright{
    padding-left: 20px;
}


.footer-label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}


.footer-section{
    margin-top: 15px;
}


.icon-padding{
    padding-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}


.icon-align{
    text-align: middle;
}

.email-link{
    color: black;
}

.email-link:hover{
    color: lightgrey;
}