html *{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

body {
    background: #35465c !important;
    /*background: -moz-linear-gradient(-45deg, #35465c 0%, #33455b 100%);
    background: -webkit-linear-gradient(-45deg, #35465c 0%,#33455b 100%);
    background: linear-gradient(135deg, #35465c 0%,#33455b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35465c', endColorstr='#355a5c',GradientType=1 );*/
}

/*Contains .mainText & .descriptiveText*/
.text-white{
    color: whitesmoke;
}

.text-oblatum-color{
	color: #35465c;
}

.router-link{
	color: red !important;
}